version: '3'
services:
  db:
    image: postgres:12
    environment:
      POSTGRES_USER:sonar
      POSTGRES_PASSWORD:sonar
      POSTGRES_DB:sonarqube
  sonarqube:
    image: sonarqube:9-community
    depends_on:
      -db
    environment:
      SONAR-JDBC_URL:
          jdbc:postgresql://db:5432/sonarqube
  ports:
   -"9000:9000"   